@attribute [Authorize]

<div>
    <table cellpadding="0" cellspacing="0">
        <tr>
            <th>Room Number</th>
            <th>Current Code</th>
            <th>Count</th>
            <th>Get All Codes</th>
            <AuthorizeView Roles="@CustomRoles.Admin">
                <Authorized>
                    <th>Generate</th>
                    <th>Cycle</th>
                </Authorized>
            </AuthorizeView>
        </tr>
        @foreach (KeyValuePair<byte, ushort> currentCodeEntry in _roomCodes)
        {
            var idForGenerate = "Generate_" + currentCodeEntry.Key;
            var idForCycle = "Cycle_" + currentCodeEntry.Key;

            <tr>
                <td>@currentCodeEntry.Key</td>
                <td>@currentCodeEntry.Value</td>
                <td>@CurrentCodeNumbersService.OrderedCurrentCodeNumbers[currentCodeEntry.Key] / 7</td>
                <td><button @onclick="(() => ShowAllRoomCodesForRoom(currentCodeEntry.Key))" class="px-3 py-4 text-lg bg-indigo-600 hover:bg-indigo-700 text-white rounded-md font-medium">Get All Codes</button></td>
                <AuthorizeView Roles="@CustomRoles.Admin">
                    <Authorized>
                        @if (CurrentCodeNumbersService.OrderedCurrentCodeNumbers[currentCodeEntry.Key] != 7)
                        {
                        <td>Generate</td>
                        <td>
                                <button @onclick="(() => CycleCheckpoint(currentCodeEntry.Key))" class="px-3 py-4 text-lg bg-indigo-600 hover:bg-indigo-700 text-white rounded-md font-medium">Cycle</button>
                        </td>
                        }
                        else
                        {
                            <td>
                                <form method="post"><input type="hidden" name="id" value="@idForGenerate" /><input type="submit" value="Generate" class="px-3 py-4 text-lg bg-indigo-600 hover:bg-indigo-700 text-white rounded-md font-medium" /></form>
                            </td>
                            <td>Cycle</td>
                        }
                    </Authorized>
                </AuthorizeView>
            </tr>
        }
    </table>
    <ConfirmPopup @ref="confirmPopup"
    Message="Cycle room code?" 
    Class="btn btn-psl-delete" 
    YesCssClass="btn-yes"
    NoCssClass="btn-no"
    ConfirmedChanged="(() => CycleProceed())">
        <ButtonContent>
            <ion-icon name="trash-outline" style="font-size:2em;color:white;"></ion-icon>
        </ButtonContent>
        <MessageTemplate>
            <div class="card pop-message-card">
                <div class="card-header">
                    Cycle Room Code?
                </div>
                <div class="card-body">
                    <p>
                        You will only want to do this
                        on a new guest arrival.<br />
                        Are you sure?
                    </p>
                </div>
            </div>
        </MessageTemplate>
</ConfirmPopup>
<ModalPopup @ref="showCodesPopup"
                  Message="Show room codes"
                  Class="btn btn-psl-delete"
                  YesCssClass="btn-yes">
        <ButtonContent>
            <ion-icon name="trash-outline" style="font-size:2em;color:white;"></ion-icon>
        </ButtonContent>
        <MessageTemplate>
            <div class="card pop-message-card">
                <div class="card-body">
                </div>
            </div>
        </MessageTemplate>
    </ModalPopup>
</div>
